.container {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: hsla(73, 85%, 87%, 0.433);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    font-size: 32px;
    text-align: center;
}

.container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
    font-size: 20px;
    text-align: left;
}

.task-details p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.task-details p strong {
    font-weight: 700;
    color: #333;
}

.task-details .btn {
    margin-top: 15px;
    background-color: #6c63ff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.task-details .btn-link {
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.form-control {
    font-weight: 300;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

textarea.form-control {
    height: 80px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.container .header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.material-symbols-outlined {
    padding-top: 10px;
    font-size: 40px;
}

.material-symbols-outlined:hover {
    color: #0056b3; 
    transform: scale(1.2); 
    cursor: pointer;
}

.span_details {
    font-weight: bold;
}