<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>Task Manager</title>
  </head>
<body>
  <header class="header">
    <div class="header-left" [routerLink]="['/tasks']">
      <h1><span class="material-symbols-outlined">receipt_long</span> Task Manager</h1>
    </div>
    <div class="header-right">
      <button class="btn-login" [routerLink]="['/login']" *ngIf="!(isLoggedIn$ | async)">Zaloguj</button>
      <button class="btn-register" [routerLink]="['/register']" *ngIf="!(isLoggedIn$ | async)">Rejestracja</button>
      <button class="btn-logout" [routerLink]="['/login']" (click)="logOut()" *ngIf="isLoggedIn$ | async">Wyloguj</button>
    </div>
  </header>
</body>
<router-outlet />
</html>