<div class="container">
  <div class="header">
    <span class="material-symbols-outlined back-icon" [routerLink]="['/tasks']" title="Back to List">
        arrow_back_ios
    </span>
</div>
  <h2>Dodaj nowe zadanie</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Tytuł</label>
      <input id="title" type="text" class="form-control" formControlName="title" placeholder="Wprowadź tytuł" required />
    </div>

    <div class="form-group">
      <label for="description">Opis</label>
      <textarea id="description" class="form-control" formControlName="description"
        placeholder="Wprowadź opis" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">
      Dodaj zadanie
    </button>
  </form>
</div>